*{
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body{
  width: 100vw;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(142,103,199,1) 45%, rgba(0,212,255,1) 100%);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  border: 5px solid white;
  border-radius: 20px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-display{
  width: 400px;
  display: flex;
  justify-content: space-around;
}

button{
  background-color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
}

.rock{
  color: rgba(2,0,36,1);
}

.paper{
  color: rgba(142,103,199,1);
}

.scissors{
  color: rgba(0,212,255,1);
}

.points, #annWinner{
  font-size: 1.5em;
}

.results{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#winnerID span{
  font-size: 2em;
  font-weight: 700;
}

#computerObject{
  color: rgba(2,0,36,1);
  font-style: italic;
}

#endOfGame {
  display: none;
  flex-direction: column;
}